#post-container, #post-other-container{
    padding: 0px 30px;
}

#post-description-container{
    margin: 50px 0px;
    font-size: 100%;
    font-family: sans-serif;
}

#post-tag-container{
    margin: 20px 0px;
}

#posts-other-container{
    margin-bottom: 30px;
    /* display: none; */
}
#post-other-title-container{
    margin: 10px 0px;
}
#post-other-menu-ul{
    padding: 0px 10px;
}
.post-other-menu-li{
    width: fit-content;
}
.post-other-container{
    color: #3792ED;
}
.post-other-container:hover{
    color: #003478;
}

#post-other-index-ul{
    display: flex;
    justify-content: flex-end;
}
.post-other-index-li{
    margin: 0px 5px 0px 0px;
}
.post-other-index-container{
    border: 1px solid #CCDBE4;
    color: #3666D4;
    /* color: #001373; */
    padding: 2px 8px;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
}

#body-component-menu{
    /* display: none; */
}

/* BUTTION SOCIAL */
#post-social{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.btn-post-social{
    width: 85px;
    height: 25px;
    margin: 5px 5px 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-post-social:hover{
    margin-top: 0px;
}
#btn-post-social-fb{
    background-color: rgb(59, 89, 152);
    border-radius: 2px;
    color: #ffffff;
    font-size: 70%;
}
#btn-post-social-twitter{
    background-color: rgb(29, 161, 242);
    border-radius: 2px;
    color: #ffffff;
    font-size: 70%;
}
#btn-post-social-linkedIn{
    background-color: rgb(0, 119, 181);
    border-radius: 2px;
    color: #ffffff;
    font-size: 70%;
}
/* BUTTION SOCIAL END */